/* font  */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=/number] { */
/* -moz-appearance: textfield; */
/* } */

body {
    height: 100vh;
    width: 100vw;
    background-color: #3b3e40;
}

header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    color: aliceblue;
}

main {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    height: 96%;
    width: 50vw;
    box-shadow: 3px -5px 34px -6px #013f6894;
    border-radius: 12px;
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
}

#display {
    width: 100%;
    justify-content: space-evenly;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display input {
    width: 90%;
    text-align: right;
    border: none;
    font-size: 5vmin;
    padding: 15px 15px;
    outline: none;
    height: 40%;
    background-color: transparent;
    color: white;
}

#result::placeholder {
    color: rgb(255, 255, 255);
    font-size: calc(70px - 1vw);
}

.bigFont {
    font-size: 9vmin !important;
    font-weight: 700 !important;
}

.buttons {
    display: grid;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    height: 70%;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    position: relative;
}

button {
    cursor: pointer;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83c3e9;
    color: #0a5252;
    font-size: calc(4vmin + 1vw);
}

button:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.buttons div{
    cursor: pointer;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83c3e9;
    color: #0a5252;
    grid-row: 1;
    grid-column: 2;
    font-size: calc(4vmin + 1vw);
}

button:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

button:nth-child(4) {
    grid-row: 1;
    grid-column: 4;
}

button:nth-child(5) {
    grid-row: 2;
    grid-column: 1;
}

button:nth-child(6) {
    grid-row: 2;
    grid-column: 2;
}

button:nth-child(7) {
    grid-row: 2;
    grid-column: 3;
}

button:nth-child(8) {
    grid-row: 2;
    grid-column: 4;
}

button:nth-child(9) {
    grid-row: 3;
    grid-column: 1;
}

button:nth-child(10) {
    grid-row: 3;
    grid-column: 2;
}

button:nth-child(11) {
    grid-row: 3;
    grid-column: 3;
}

button:nth-child(12) {
    grid-row: 3;
    height: 90%;
    width: 90%;
    grid-column: 4;
}

button:nth-child(13) {
    grid-row: 4;
    grid-column: 1;
}

button:nth-child(14) {
    grid-row: 4;
    grid-column: 2;
}

button:nth-child(15) {
    grid-row: 4;
    grid-column: 3;
}

button:nth-child(16) {
    grid-row: 5;
    grid-column: 4;
    height: 90%;
    width: 90%;
}

button:nth-child(17) {
    grid-row: 5;
    grid-column: 1;
}

button:nth-child(18) {
    grid-row: 5;
    grid-column: 2;
}

button:nth-child(19) {
    grid-row: 4;
    grid-column: 4;
}
button:nth-child(20) {
    grid-row: 5;
    grid-column: 3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 12vh;
    color: #ffffff;
    background: #181818;
    font-size: 2vmin;
}
footer p span{
    color: rgb(249 44 44);
    font-size: 3vmin;
    font-weight: 500;
}
/* Responsive */
@media (max-width:800px) {
    .container{
        height: 90%;
        width: 80vw !important;
    }
    footer{
        font-size: 4vmin;
    }
    foooter p span{
        font-size: 6vmin;
    }
}
@media (max-width:330px) {
    #result::placeholder {
        font-size: calc(40px - 1vw);
    }
}